APP_BASE_URL=http://localhost
APP_PORT=8080
# dev or production
APP_ENV=dev
DB_URL=jdbc:postgresql://localhost:5432/dbname
DB_USERNAME=username
DB_PASSWORD=password
# min 128 bits length
JWT_SECRET_KEY=jwt_key
# in miliseconds
JWT_EXPIRATION_TIME=3600000
